<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp-YouTube</title>


  <link rel="shortcut icon" href="/Views/favicon/favico.png" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/views/Html/css/style.css">


</head>

<body class="img js-fullheight" style="background-image: url(/views/Html/bg.jpg);">

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">SignUp YouTube</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Have an account?</h3>
            <form action="/YouTube-user-SignUp" class="signin-form" method="post">
              <div class="form-group">
                <input id="user_UserName" name="user_UserName" type="text" class="form-control"
                  placeholder="UserName or email Id" required>
              </div>
              <div class="form-group">
                <input id="user_FirstName" name="user_firstName" type="text" class="form-control" placeholder="FirstName"
                  required>
              </div>
              <div class="form-group">
                <input id="user_LastName" name="user_lastName" type="text" class="form-control" placeholder="LastName"
                  required>
              </div>
              <div class="form-group">
                <input id="password-field" name="user_Password" type="password" class="form-control"
                  placeholder="Password" required>
              </div>
              <div class="form-group">
                <input id="user_ConformPassword" name="user_ConformPassword" type="password" class="form-control"
                  placeholder="Conform Password" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <span id="PasswordNotMatched" style="display: none;">Password not matched</span>


              <div class="form-group">
                <button type="submit" id="Submit" class="form-control btn btn-primary submit px-3">Sign In</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50">
                  <label class="checkbox-wrap checkbox-primary">Remember Me
                    <input type="checkbox" required checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right">
                  <a href="#" style="color: #fff">Forgot Password</a>
                </div>
              </div>
            </form>
            <p class="w-100 text-center">&mdash; Or <a href="/YouTube-user-Login">Login</a> &mdash;</p>
            <div class="social d-flex text-center">
              <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                Facebook</a>
              <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span>
                Google</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

  </script>


  <script src="/views/Html/js/jquery.min.js"></script>
  <script src="/views/Html/js/popper.js"></script>
  <script src="/views/Html/js/bootstrap.min.js"></script>
  <script src="/views/Html/js/main.js"></script>



</body>

</html>